
body{
    background: #F29F05;
  }

    #todo {
      position: relative;
      top: 40px;
    }
    .video-list {
      display: flex;
      flex-wrap: wrap;
    }
  
  .titu{
    padding: 20px;
  }
  
  .video-container {
      flex: 7.5;
      padding-right: 20px;
  }
  
    .playlist {
      flex: 2.5;
    }
  
    .button-list {
      display: flex;
      flex-direction: column;
    }
  
    .button-list .button {
      display: flex;
      text-align: left;
      margin-bottom: 10.89px;
    }
  
    .video-wrapper {
      display: flex;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
      overflow: hidden;
    }
  
    .video-aspect-ratio {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    #video-player {
      width: 100%;
      height: 100%;
    }